@import "./main.scss";

header {
    display: flex;
    > a:first-child i {
        position: absolute;
        left: 20px;
        top: 25px;
    }
}
main {
    flex-direction: column;
    max-width: 800px;
    margin: 0 auto;
    background-color: white;
    figure {
        z-index: 2;
        display: flex;
        flex-basis: 100%;
        img {
            flex-basis: 100%;
            object-fit: cover;
            height: 210px;
        }
    }
    #menu-container {
        z-index: 3;
        background-color: #f6f8fa;
        position: relative;
        bottom: 30px;
        padding: 30px 0;
        border-radius: 40px 40px 0 0;
        flex-direction: column;
        flex-basis: 100%;
        row-gap: 10px;
        section {
            display: flex;
            flex-direction: column;
            row-gap: 20px;
        }
        h1 {
            padding:0 0 10px 20px;
            font-size: 2em;
            font-family: "Shrikhand", "cursive";
        }
        h2 {
            font-weight: 300;
            font-size: 1.3em;
            text-transform: uppercase;
             > span {
                padding-bottom: 5px;
                border-bottom: solid 2.5px $tertiary;
            }
        }
        article {
            @include box-shadow-light;
            background-color: white;
            display: flex;
            border-radius: 20px;
            &:hover {
                cursor: pointer;
            }
            div:first-child  {
                display: flex;
                flex-direction: column;
                flex-basis: 100%;
                justify-content: space-between;
                p {
                    font-size: 1em;
                }
                span {
                    float: right;
                    padding-right: 10px;
                    padding-top: 5px;
                    font-weight: bold;
                }
            }
            > div:nth-child(2){
                background-color: $tertiary;
                border-radius: 0 20px 20px 0;
                display: none;
                 > i {
                    color: white;
                    font-size: 1.5em;
                }
            }
            &:hover div:nth-child(2) {
                flex-basis: 80px;
                display: flex;
                justify-content: center;
                align-items: center;
            }

        }
        > a {
            display: flex;
            align-self: center;
            @include btn-action;
            padding-left: 50px;
            padding-right: 50px;
        }
        h3 {
            padding: 15px 0 10px 15px;
        }
        p {
            padding: 0 0 15px 15px;
        }
        
    }
}
footer {
    margin-top: -30px;
}