@import "./main.scss";
header {
  display: flex;
  > a:first-child i {
    position: absolute;
    left: 20px;
    top: 25px;
  }
}
main {
  flex-direction: column;
  position: relative;
  background-color: white;
  figure {
    z-index: 2;
    display: flex;
    flex-basis: 100%;
    img {
      flex-basis: 100%;
      object-fit: cover;
      height: 210px;
    }
  }
  #menu-container {
    z-index: 3;
    background-color: #f6f8fa;
    margin: 0 auto;
    position: relative;
    bottom: 30px;
    padding: 40px 0 100px 0;
    border-radius: 40px 40px 0 0;
    flex-direction: column;
    width: 100%;
    row-gap: 5px;
    margin-bottom: -30px;
    section {
      display: flex;
      flex-direction: column;
      row-gap: 15px;
      padding: 20px;
    }
    h1 {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 0 0 10px 20px;
      font-size: 2em;
      font-family: "Shrikhand", "cursive";
      span {
        margin-right: 30px;
      }
    }
    h2 {
      font-weight: 300;
      font-size: 1.1em;
      text-transform: uppercase;
      > span {
        padding-bottom: 5px;
        border-bottom: solid 2.5px $tertiary;
      }
    }
    .btn {
      margin-top: 30px;
    }
    article {
      @include box-shadow-light;
      background-color: white;
      display: flex;
      overflow: hidden;
      border-radius: 20px;
      position: relative;
      text-overflow: ellipsis;
      white-space: nowrap;
      &:hover {
        cursor: pointer;
      }
      div:first-child {
        display: flex;
        flex-direction: column;
        flex-basis: 100%;
        justify-content: space-between;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        h3 {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          flex-basis: 100%;
          font-weight: 1em;
        }
        p {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          flex-basis: 100%;
        }
      }
      > div:nth-child(2) {
        display: flex;
        align-items: flex-end;
        padding-right: 10px;
        position: relative;
        right: -45px;
        background-color: white;
        width: 20px;
        height: 75px;
        transition: right 0.6s;
        span {
          font-weight: bold;
          padding: 15px 10px 15px 0;
        }
      }
      &:hover > div:nth-child(2) {
        right: 10px;
        margin-left: 10px;
      }
      > div:nth-child(3) {
        background-color: $tertiary;
        border-radius: 0 20px 20px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 75px;
        width: 80px;
        position: relative;
        transition: left 0.6s;
        left: 80px;
        > i {
          color: white;
          font-size: 1.5em;
        }
      }
      &:hover div:nth-child(3) {
        flex-basis: 90px;
        display: flex;
        left: 0px;
        i {
          transform: rotate(360deg);
          transition: transform 0.5s linear;
        }
      }
    }
    > a {
      display: flex;
      align-self: center;
      padding-left: 50px;
      padding-right: 50px;
    }
    h3 {
      padding: 15px 0 10px 15px;
    }
    p {
      padding: 0 0 15px 15px;
    }
  }
}
/*lazy loading on menu */

@for $i from 1 through 4 {
  #menu-container section:nth-of-type(1) article:nth-of-type(#{$i}) {
    animation: slide-top 1s ease-out (0.2s * $i) both;
  }
}

@for $i from 1 through 3 {
  #menu-container section:nth-of-type(2) article:nth-of-type(#{$i}) {
    animation: slide-top 1s ease-out (0.2 * $i + 0.6s) both;
  }
}
@for $i from 1 through 3 {
  #menu-container section:nth-of-type(3) article:nth-of-type(#{$i}) {
    animation: slide-top 1s ease-out (0.2 * $i + 1.2s) both;
  }
}

footer {
  width: 100%;
  > div {
    min-width: 80%;
  }
}

@media screen and (min-width: 768px) {
  main {
    figure > img {
      height: 500px;
      position: relative;
      object-position: 70% 75%;
    }
    #white-shadow-for-picture {
      display: flex;
      width: 100%;
      position: absolute;
      height: 35%;
      top: 0px;
      z-index: 2;
      background: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 0),
        #fff 80%,
        #fff 100%
      );
    }
    #menu-container {
      width: 80%;
      bottom: 190px;
      margin-bottom: -190px;
    }
  }
  footer > div {
    margin: 0 auto;
    width: 80%;
  }
}

@media screen and (min-width: 1650px) {
  main {
    #white-shadow-for-picture {
      height: 60%;
    }
    #menu-container {
      width: 80%;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 30px 20px;
      h1 {
        width: 100%;
      }
      section {
        flex-basis: 28%;
      }
    }
  }
}
