
 @keyframes slide-top {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
};
@keyframes rotate-spinner {
  form {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes hidden {
  to {
    visibility: hidden;
  }
}
/*like animation */
.animation-like {
  position: relative;
  svg {
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    &:first-child {
      z-index: 0;
      transform: scale(0.95);
      path {
        fill: black;
      }
    }
    &:last-child {
      path {
        opacity: 0;
        transform: scale(0);
        transform-origin: center ;
      }
    }
  }
  &:hover {
    cursor: pointer;
    svg:last-child {
      top: 0;
      path {
        transform: scale(1);
        transition: all 0.6s;
        opacity: 1;
      }
    }
  }
}
