.btn {
    text-decoration: none;
        color: white;
        padding: 15px 20px;
        background-image: linear-gradient($secondary, $primary);
        border-radius: 50px;
        box-shadow: 2px 6px 19px -7px rgba(0,0,0,0.4);
        margin: 0 auto;
        &:hover {
            opacity: 0.8;
            box-shadow: 0px 24px 47px 30px rgba(0,0,0,0.15);
            transform: scale(1.05);
            transition: all 0.5s;
        }
}