footer {
    background-color: rgb(48, 48, 48);
    ul  li {
        padding: 10px 0;
        font-size: 1.1em;
        &:first-child a > i {
            margin-right: 20px;
        }
        a > i {
            margin-right: 10px;
        }
    }
    a {
        color: white;
    }
    > div {
        padding: 20px;
        color: #fff;
    }
    img {
        height: 20px;
        padding-bottom: 20px;
    }
}