header {
    z-index: 2;
    display: flex;
    justify-content: center;
    padding: 20px 0 10px 0;
    box-shadow: 2px 6px 19px -7px rgba(0,0,0,0.31);
    -webkit-box-shadow: 2px 6px 19px -7px rgba(0,0,0,0.31);
    -moz-box-shadow: 2px 6px 19px -7px rgba(0,0,0,0.31);
    a > img {
        height: 30px;
        width: auto;
    }
}
main {
    z-index: 1;
}