@import url(https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shrikhand&display=swap);
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.d-flex {
  display: flex; }

.f-wrap {
  flex-wrap: wrap; }

/* colors */
body {
  font-family: 'Roboto', sans-serif;
  position: relative; }

h1 {
  font-weight: 800;
  font-size: 2.5em; }

h2 {
  font-size: 1.6em;
  font-weight: 700;
  padding-bottom: 20px; }

h3 {
  font-size: 1.1em;
  font-weight: 700;
  padding-bottom: 5px; }

section {
  padding: 50px 20px; }

a {
  text-decoration: none;
  color: black; }

.btn {
  text-decoration: none;
  color: white;
  padding: 15px 20px;
  background-image: linear-gradient(#FF79DA, #9356DC);
  border-radius: 50px;
  box-shadow: 2px 6px 19px -7px rgba(0, 0, 0, 0.4);
  margin: 0 auto;
  transition: all 0.4s; }
  .btn:hover {
    opacity: 0.9;
    box-shadow: 8px 10px 19px -7px rgba(0, 0, 0, 0.4); }

@-webkit-keyframes slide-top {
  0% {
    transform: translateY(50px);
    opacity: 0; }
  100% {
    transform: translateY(0);
    opacity: 1; } }

@keyframes slide-top {
  0% {
    transform: translateY(50px);
    opacity: 0; }
  100% {
    transform: translateY(0);
    opacity: 1; } }

@-webkit-keyframes rotate-spinner {
  form {
    transform: rotate(0); }
  to {
    transform: rotate(360deg); } }

@keyframes rotate-spinner {
  form {
    transform: rotate(0); }
  to {
    transform: rotate(360deg); } }

@-webkit-keyframes hidden {
  to {
    visibility: hidden; } }

@keyframes hidden {
  to {
    visibility: hidden; } }

/*like animation */
.animation-like {
  position: relative; }
  .animation-like i {
    font-size: 2em;
    position: absolute;
    top: 0;
    right: 0;
    text-align: center; }
    .animation-like i:first-child {
      transform: scale(0);
      background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
      background-clip: border-box;
      background-clip: border-box;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      z-index: 1; }
  .animation-like:hover {
    cursor: pointer; }
    .animation-like:hover i:first-child {
      transform: scale(1);
      transition: all 330ms ease-in-out; }
    .animation-like:hover i:last-child {
      transform: scale(0);
      transition: all 330ms ease-in-out; }

footer {
  background-color: #303030; }
  footer ul li {
    padding: 10px 0; }
    footer ul li a > i {
      margin-right: 20px;
      width: 20px; }
  footer a {
    color: white; }
  footer > div {
    padding: 20px;
    color: #fff; }
  footer img {
    height: 20px;
    padding-bottom: 20px; }

@media screen and (min-width: 992px) {
  footer > div {
    max-width: 60%;
    margin: 0 auto; } }

header {
  z-index: 4;
  display: flex;
  justify-content: center;
  padding: 20px 0 10px 0; }
  header a > img {
    height: 30px;
    width: auto; }

main {
  z-index: 1; }

header {
  display: flex; }
  header > a:first-child i {
    position: absolute;
    left: 20px;
    top: 25px; }

main {
  flex-direction: column;
  position: relative;
  background-color: white; }
  main figure {
    z-index: 2;
    display: flex;
    flex-basis: 100%; }
    main figure img {
      flex-basis: 100%;
      -o-object-fit: cover;
         object-fit: cover;
      height: 210px; }
  main #menu-container {
    z-index: 3;
    background-color: #f6f8fa;
    margin: 0 auto;
    position: relative;
    bottom: 30px;
    padding: 40px 0 100px 0;
    border-radius: 40px 40px 0 0;
    flex-direction: column;
    width: 100%;
    row-gap: 5px;
    margin-bottom: -30px; }
    main #menu-container section {
      display: flex;
      flex-direction: column;
      row-gap: 15px;
      padding: 20px; }
    main #menu-container h1 {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 0 0 10px 20px;
      font-size: 2em;
      font-family: "Shrikhand", "cursive"; }
      main #menu-container h1 span {
        margin-right: 30px; }
    main #menu-container h2 {
      font-weight: 300;
      font-size: 1.1em;
      text-transform: uppercase; }
      main #menu-container h2 > span {
        padding-bottom: 5px;
        border-bottom: solid 2.5px #99E2D0; }
    main #menu-container .btn {
      margin-top: 30px; }
    main #menu-container article {
      box-shadow: 2px 6px 19px -7px rgba(0, 0, 0, 0.31);
      -webkit-box-shadow: 2px 6px 19px -7px rgba(0, 0, 0, 0.31);
      -moz-box-shadow: 2px 6px 19px -7px rgba(0, 0, 0, 0.31);
      background-color: white;
      display: flex;
      overflow: hidden;
      border-radius: 20px;
      position: relative;
      text-overflow: ellipsis;
      white-space: nowrap; }
      main #menu-container article:hover {
        cursor: pointer; }
      main #menu-container article div:first-child {
        display: flex;
        flex-direction: column;
        flex-basis: 100%;
        justify-content: space-between;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap; }
        main #menu-container article div:first-child h3 {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          flex-basis: 100%;
          font-weight: 1em; }
        main #menu-container article div:first-child p {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          flex-basis: 100%; }
      main #menu-container article > div:nth-child(2) {
        display: flex;
        align-items: flex-end;
        padding-right: 10px;
        position: relative;
        right: -45px;
        background-color: white;
        width: 20px;
        height: 75px;
        transition: right 0.6s; }
        main #menu-container article > div:nth-child(2) span {
          font-weight: bold;
          padding: 15px 10px 15px 0; }
      main #menu-container article:hover > div:nth-child(2) {
        right: 10px;
        margin-left: 10px; }
      main #menu-container article > div:nth-child(3) {
        background-color: #99E2D0;
        border-radius: 0 20px 20px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 75px;
        width: 80px;
        position: relative;
        transition: left 0.6s;
        left: 80px; }
        main #menu-container article > div:nth-child(3) > i {
          color: white;
          font-size: 1.5em; }
      main #menu-container article:hover div:nth-child(3) {
        flex-basis: 90px;
        display: flex;
        left: 0px; }
        main #menu-container article:hover div:nth-child(3) i {
          transform: rotate(360deg);
          transition: transform 0.5s linear; }
    main #menu-container > a {
      display: flex;
      align-self: center;
      padding-left: 50px;
      padding-right: 50px; }
    main #menu-container h3 {
      padding: 15px 0 10px 15px; }
    main #menu-container p {
      padding: 0 0 15px 15px; }

/*lazy loading on menu */
#menu-container section:nth-of-type(1) article:nth-of-type(1) {
  -webkit-animation: slide-top 1s ease-out 0.2s both;
          animation: slide-top 1s ease-out 0.2s both; }

#menu-container section:nth-of-type(1) article:nth-of-type(2) {
  -webkit-animation: slide-top 1s ease-out 0.4s both;
          animation: slide-top 1s ease-out 0.4s both; }

#menu-container section:nth-of-type(1) article:nth-of-type(3) {
  -webkit-animation: slide-top 1s ease-out 0.6s both;
          animation: slide-top 1s ease-out 0.6s both; }

#menu-container section:nth-of-type(1) article:nth-of-type(4) {
  -webkit-animation: slide-top 1s ease-out 0.8s both;
          animation: slide-top 1s ease-out 0.8s both; }

#menu-container section:nth-of-type(2) article:nth-of-type(1) {
  -webkit-animation: slide-top 1s ease-out 0.8s both;
          animation: slide-top 1s ease-out 0.8s both; }

#menu-container section:nth-of-type(2) article:nth-of-type(2) {
  -webkit-animation: slide-top 1s ease-out 1s both;
          animation: slide-top 1s ease-out 1s both; }

#menu-container section:nth-of-type(2) article:nth-of-type(3) {
  -webkit-animation: slide-top 1s ease-out 1.2s both;
          animation: slide-top 1s ease-out 1.2s both; }

#menu-container section:nth-of-type(3) article:nth-of-type(1) {
  -webkit-animation: slide-top 1s ease-out 1.4s both;
          animation: slide-top 1s ease-out 1.4s both; }

#menu-container section:nth-of-type(3) article:nth-of-type(2) {
  -webkit-animation: slide-top 1s ease-out 1.6s both;
          animation: slide-top 1s ease-out 1.6s both; }

#menu-container section:nth-of-type(3) article:nth-of-type(3) {
  -webkit-animation: slide-top 1s ease-out 1.8s both;
          animation: slide-top 1s ease-out 1.8s both; }

footer {
  width: 100%; }
  footer > div {
    min-width: 80%; }

@media screen and (min-width: 768px) {
  main figure > img {
    height: 500px;
    position: relative;
    -o-object-position: 70% 75%;
       object-position: 70% 75%; }
  main #white-shadow-for-picture {
    display: flex;
    width: 100%;
    position: absolute;
    height: 35%;
    top: 0px;
    z-index: 2;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), #fff 80%, #fff 100%); }
  main #menu-container {
    width: 80%;
    bottom: 190px;
    margin-bottom: -190px; }
  footer > div {
    margin: 0 auto;
    width: 80%; } }

@media screen and (min-width: 1650px) {
  main #white-shadow-for-picture {
    height: 60%; }
  main #menu-container {
    width: 80%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px 20px; }
    main #menu-container h1 {
      width: 100%; }
    main #menu-container section {
      flex-basis: 28%; } }

