@import url(https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shrikhand&display=swap);
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* colors */
body {
  font-family: 'Roboto', sans-serif; }

h1 {
  font-weight: 800;
  font-size: 2.5em; }

h2 {
  font-size: 1.6em;
  font-weight: 700;
  padding-bottom: 20px; }

h3 {
  font-size: 1.1em;
  font-weight: 700;
  padding-bottom: 5px; }

section {
  padding: 50px 20px; }

a {
  text-decoration: none;
  color: black; }

footer {
  background-color: #303030; }
  footer ul li {
    padding: 10px 0;
    font-size: 1.1em; }
    footer ul li:first-child a > i {
      margin-right: 20px; }
    footer ul li a > i {
      margin-right: 12px; }
  footer a {
    color: white; }
  footer > div {
    padding: 20px;
    color: #fff; }
  footer img {
    height: 20px;
    padding-bottom: 20px; }

@media screen and (min-width: 992px) {
  footer > div {
    max-width: 1130px;
    margin: 0 auto; } }

header {
  z-index: 2;
  display: flex;
  justify-content: center;
  padding: 20px 0 10px 0;
  box-shadow: 2px 6px 19px -7px rgba(0, 0, 0, 0.31);
  -webkit-box-shadow: 2px 6px 19px -7px rgba(0, 0, 0, 0.31);
  -moz-box-shadow: 2px 6px 19px -7px rgba(0, 0, 0, 0.31); }
  header a > img {
    height: 30px;
    width: auto; }

main {
  z-index: 1; }

header {
  display: flex; }
  header > a:first-child i {
    position: absolute;
    left: 20px;
    top: 25px; }

main {
  flex-direction: column;
  max-width: 800px;
  margin: 0 auto;
  background-color: #ffffd4; }
  main figure {
    z-index: 2;
    display: flex;
    flex-basis: 100%; }
    main figure img {
      flex-basis: 100%;
      -o-object-fit: cover;
         object-fit: cover;
      height: 210px; }
  main #menu-container {
    z-index: 3;
    background-color: #fbfbf4;
    position: relative;
    bottom: 30px;
    padding: 30px 0;
    border-radius: 40px;
    flex-direction: column;
    flex-basis: 100%;
    row-gap: 10px; }
    main #menu-container section {
      display: flex;
      flex-direction: column;
      row-gap: 20px; }
    main #menu-container h1 {
      padding: 0 0 10px 20px;
      font-size: 2em;
      font-family: "Shrikhand", "cursive"; }
    main #menu-container h2 {
      font-weight: 300;
      font-size: 1.3em;
      text-transform: uppercase; }
      main #menu-container h2 > span {
        padding-bottom: 5px;
        border-bottom: solid 2.5px #99E2D0; }
    main #menu-container article {
      box-shadow: 2px 6px 19px -7px rgba(0, 0, 0, 0.31);
      -webkit-box-shadow: 2px 6px 19px -7px rgba(0, 0, 0, 0.31);
      -moz-box-shadow: 2px 6px 19px -7px rgba(0, 0, 0, 0.31);
      background-color: white;
      display: flex;
      border-radius: 20px; }
      main #menu-container article:hover {
        cursor: pointer; }
      main #menu-container article div:first-child {
        display: flex;
        flex-direction: column;
        flex-basis: 100%;
        justify-content: space-between; }
        main #menu-container article div:first-child p {
          font-size: 1em; }
        main #menu-container article div:first-child span {
          float: right;
          padding-right: 10px;
          padding-top: 5px;
          font-weight: bold; }
      main #menu-container article div:nth-child(2) {
        background-color: #99E2D0;
        border-radius: 0 20px 20px 0;
        display: none; }
        main #menu-container article div:nth-child(2) > i {
          color: white;
          font-size: 1.5em; }
      main #menu-container article:hover div:nth-child(2) {
        flex-basis: 80px;
        display: flex;
        justify-content: center;
        align-items: center; }
    main #menu-container > a {
      display: flex;
      align-self: center;
      text-decoration: none;
      color: white;
      padding: 20px;
      background-image: linear-gradient(#FF79DA, #9356DC);
      border-radius: 50px;
      box-shadow: 2px 6px 19px -7px rgba(0, 0, 0, 0.31);
      -webkit-box-shadow: 2px 6px 19px -7px rgba(0, 0, 0, 0.31);
      -moz-box-shadow: 2px 6px 19px -7px rgba(0, 0, 0, 0.31);
      padding-left: 50px;
      padding-right: 50px; }
    main #menu-container h3 {
      padding: 15px 0 10px 15px; }
    main #menu-container p {
      padding: 0 0 15px 15px; }

